.projects-block {
  width: 100%;

  padding-top: 100px;

  .projects-block_title {
    position: relative;

    top: 65px;
  }

  .projects-block_projects-container {
    margin-top: 20px;

    width: 100%;
    height: 500px;
  }
}