.preview-member-info-block {
  position: relative;

  width: 100%;
  height: 80vh;

  padding-top: 130px;

  .preview-member-info-block_container {
      display: flex;
      gap: 20px;

    .preview-member-info-block_skill-n-awards {
      width: 80%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
  }
}