.info-part {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 1341px;
  height: 450px;

  background: #191E23;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;

  padding: 10px;

  @media screen and (max-width: 1250px){
    width: 90%;
  }

  .info-part_logo {
    width: 374px;
    height: 100%;

    border-radius: 5px;

    overflow: hidden;

    background: #0a0a0a no-repeat;
    background-size: cover;


    @media screen and (max-width: 1250px){
      width: 40%;
    }

    img {
      width: auto;
      height: 100%;
    }
  }
  .info-part_info {
    width: 500px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 1250px){
      width: 60%;

      padding-left: 20px;
    }

    .info-part_info_title {
      h2 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 7rem;
        line-height: 77px;
        letter-spacing: 0.045em;

        color: #FFFFFF;

        @media screen and (max-width: 1250px){
          font-size: 7.3rem;
        }
      }
    }
    .info-part_info_description {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .info-part__blue-text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 17px;

        color: #217AFF;

        @media screen and (max-width: 1250px){
          font-size: 2.5rem;
        }
      }

      p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.7rem;
        line-height: 18px;

        color: #FFFFFF;

        @media screen and (max-width: 1250px){
          font-size: 2.7rem;
          line-height: 23px;
        }
      }
    }
    .info-part_info_button {
     button {
       font-family: 'Inter', sans-serif;
       font-style: normal;
       font-weight: 500;
       font-size: 2rem;
       line-height: 19px;

       color: #FFFFFF;

       background: transparent;

       border: none;
       border-bottom: 1px solid #fff;

       outline: unset;

       @media screen and (max-width: 1250px){
         font-size: 3.5rem;

         padding-bottom: 4px;
       }
     }
    }
  }
}