.supported-devices {


  .supported-devices_logo {
    h5 {
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 28px;

      color: #FFFFFF;
    }
  }
  .supported-devices_devices {
    padding-top: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;

    @media screen and (max-width: 500px){
      flex-direction: row;
      gap: 10px;
    }
  }
}