.block-title {

  position: relative;

  @media screen and (max-width: 500px) {
    display: flex;
    align-items: center;
    justify-content: center;

    .block-title_title {
      position: absolute;
      top: 0;
      left: 0;


    }
  }

  .block-title_title, .block-title_subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 4.5rem;
    line-height: 50px;

    color: #DC6041;

    @media screen and (max-width: 1250px){
      font-size: 6rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 5rem;

      line-height: 30px;
    }
  }
  .block-title_subtitle {
    font-weight: 300;
    font-size: 2rem;
    line-height: 30px;

    color: #FFFFFF;

    @media screen and (max-width: 1250px){
      font-size: 3.5rem;
    }
    @media screen and (max-width: 500px){
      font-size: 3.3rem;
    }
  }
}