.block-title {

  .block-title_title, .block-title_subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 4rem;
    line-height: 90px;

    color: #DC6041;
  }
  .block-title_subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

    color: #FFFFFF;
  }
}