.competition-block {
  margin-top: 80px;

  width: 100%;

  @media screen and (max-width: 500px) {
    padding: 0 15px;
  }

  .competition-block_title {

  }

  .competition-block_projects-list {
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

    @media screen and (max-width: 500px) {
    }
  }
}