.member-card {
  width: 387px;
  height: 474px;

  border-radius: 13px;

  background: rgba(12, 17, 23, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 0;

  gap: 50px;

  &:hover {

    background: #fff;

    .member-card_description {
      h5 {
        color: #201B1B;
      }
      p {
        color: #848484;
      }
    }
    .member-card_button {
      opacity: 1;

      pointer-events: auto;
    }
  }

  transition: all .3s;

  .member-card_photo {
    width: 150px;
    height: 150px;

    border-radius: 50%;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }
  .member-card_description {
    h5 {
      font-family: 'Exo 2', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 22px;

      text-align: center;
      letter-spacing: 0.045em;

      color: #fff;

      transition: all .3s;
    }
    p {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 15px;

      text-align: center;
      letter-spacing: 0.045em;

      color: #848484;
    }
  }
  .member-card_button {
    width: 150px;
    height: 60px;

    background: #F8682A;
    border: 0.99px solid #DC6041;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    opacity: 0;
    pointer-events: none;

    transition: all .3s;

    a {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      gap: 2px;

      span {
        text-transform: uppercase;

        font-family: 'Karla', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 14px;

        color: #FFFFFF;
      }
    }
  }
}