.member-card {
  width: 387px;
  height: 474px;

  border-radius: 13px;

  background: rgba(12, 17, 23, 0.5);

  z-index: 1;

  overflow: hidden;

  &:hover {

    //background: #fff;

    .member-card-naebka {
      opacity: 1;
    }

    .member-card_description {
      h5 {
        color: #201B1B;
      }

      p {
        color: #848484;
      }
    }

    .member-card_button {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1250px){
    width: 45%;
  }
  @media screen and (max-width: 500px) {
    width: 46%;
    height: 224px;
  }

  a {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 0;

    gap: 50px;

    @media screen and (max-width: 500px){
      gap: 10px;
      padding: 15px 0 0 0;
    }
    overflow: hidden;

    .member-card-naebka {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: #fff;

      z-index: -1;

      opacity: 0;

      will-change: opacity;
      transition: opacity .3s;
    }

    .member-card_photo {
      width: 150px;
      height: 150px;

      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      overflow: hidden;

      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;

      -webkit-justify-content: center;
      -webkit-align-items: center;

      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1250px){
        width: 220px;
        height: 220px;
      }
      @media screen and (max-width: 500px){
        width: 120px;
        height: 120px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
    .member-card_description {

      @media screen and (max-width: 1250px){
        gap: 20px;
      }
      @media screen and (max-width: 500px){
        display: grid;
        gap: 10px;
      }

      h5 {
        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 22px;

        text-align: center;
        letter-spacing: 0.045em;

        color: #fff;

        will-change: color;
        transition: color .3s;

        @media screen and (max-width: 1250px){
          font-size: 4rem;
        }
        @media screen and (max-width: 500px){
          font-size: 2.7rem;
        }
      }
      p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 15px;

        text-align: center;
        letter-spacing: 0.045em;

        color: #848484;

        @media screen and (max-width: 1250px){
          padding-top: 20px;

          width: 60%;
          margin: 0 auto;


          font-size: 3rem;
          line-height: 25px;
        }
        @media screen and (max-width: 500px){
          padding: 0;

          font-size: 2rem;
        }
      }
    }
    .member-card_button {
      width: 150px;
      height: 60px;

      background: #F8682A;
      border: 0.99px solid #DC6041;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      will-change: opacity;
      transition: opacity .3s;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      opacity: 0;

      gap: 2px;

      @media screen and (max-width: 1250px){
        display: none;
      }
      @media screen and (max-width: 500px) {
        display: none;
      }
        span {
          text-transform: uppercase;

          font-family: 'Karla', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 14px;

          color: #FFFFFF;
        }
    }
  }
}