.skills-tab {
  width: 100%;

  margin-top: 15px;

  .skills-tab_skills {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .skills-tab_awards {
    padding-top: 60px;

    .skills-tab_title {
      h5 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 17px;

        letter-spacing: 0.045em;

        color: #FFFFFF;
      }
    }
    .skills-tab_awards-container {
      width: 100%;
      height: 400px;
    }
  }

}