.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 5, 30, 0.3);
  filter: blur(30px);

  .ball_1,
  .ball_2,
  .ball_3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;

    will-change: transform;
    transform: scale(3, 3) translate(50%, 50%);

    filter: blur(15px);

    border-radius: 50%;

    transition: all 0.1s;

    background: radial-gradient(circle at center, #ff7373 10%, #3502ff, transparent 90%);
  }

  .ball_2 {
    background: radial-gradient(circle at center, #b073ff 10%, #ff5d02, transparent 90%);
    animation: party_2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .ball_3 {
    background: radial-gradient(circle at center, #ffb673 10%, #5302ff, transparent 90%);
  }
}

@keyframes party_1 {
  0% {

  }
  25% {

  }
  50% {

  }
  75% {

  }
}
@keyframes party_2 {
  0% {
    transform: scale(3,3) translate(0, 0);
  }
  100% {
    transform: scale(3,3) translate(1000px, 1000px);
  }
}
@keyframes party_3 {
  0% {
  }
  25% {
  }
  50% {
  }
  75% {
  }
}
