.project-page {
  position: relative;

  width: 100vw;

  padding-bottom: 80px;

  overflow: hidden;

  .project-page_inner-container-wrapperBefore_Safari {
    &:before {
      content: '';

      position: absolute;
      top: 0;
      right: 0;

      width: 20px;
      height: 20px;

      will-change: transform;
      transform: scale(40, 40) translate(-50%, 50%);

      background: rgba(113, 25, 42, 0.3);
      filter: blur(5px);
    }
  }
  .project-page_inner-container-wrapperBefore_Default {
    &:before {
      content: '';

      position: absolute;
      top: 0;
      right: -70%;

      width: 100%;
      height: 100%;

      background: rgba(113, 25, 42, 0.3);
      filter: blur(200px);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  .project-page_inner-container-wrapper {
    position: relative;

    width: 100%;

    .project-page_inner-container {
      max-width: 1615px;

      margin: 0 auto;

      @media screen and (max-width: 1625px){
        max-width: 100%;

        padding: 0 45px;
      }
      @media screen and (max-width: 1250px){

      }
      @media screen and (max-width: 500px){
        padding: 0;
      }
    }
  }
}

.project-pageBefore_Safari {
  &:before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 20px;
    height: 20px;

    will-change: transform;
    transform: scale(40, 40) translate(50%, -20%);

    background: linear-gradient(27.03deg, rgba(51, 49, 125, 0.5) 3.52%, rgba(71, 0, 54, 0) 81.06%);
    mix-blend-mode: normal;
    filter: blur(4px);
  }
}
.project-pageBefore_Default {
  &:before {
    content: '';

    position: absolute;
    bottom: -40%;
    left: -50%;

    width: 100%;
    height: 100%;

    background: linear-gradient(27.03deg, rgba(51, 49, 125, 0.5) 3.52%, rgba(71, 0, 54, 0) 81.06%);
    mix-blend-mode: normal;
    filter: blur(105px);
    transform: matrix(-0.5, -0.87, -0.87, 0.5, 0, 0);
  }
}