.team-page {
  position: relative;

  width: 100vw;

  padding-bottom: 80px;

  z-index: 2;

  @media screen and (max-width: 500px){
    padding: 0 10px 80px;
  }

  overflow: hidden;

  .team-page__gradient-purple {
    /*position: absolute;
    bottom: 0%;
    left: -25%;

    width: 80vw;
    height: 100vh;

    background: linear-gradient(19.36deg, #33317D -8.78%, rgba(71, 0, 54, 0) 82.01%);
    filter: blur(104px);

    z-index: -2;*/
  }
  .team-page__gradient-red {
   /* position: absolute;
    top: 20%;
    right: -25%;

    width: 80vw;
    height: 100vh;

    background: rgba(113, 25, 42, 0.3);
    filter: blur(100px);

    z-index: -2;*/
  }

  .team-page_container {
    max-width: 1615px;

    margin: 0 auto;

    padding-top: 150px;

    @media screen and (max-width: 500px){
      max-width: 100%;

      padding-top: 70px;
    }

    .team-page_title {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 500px){
        gap: 0;
      }

      h1, p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 7rem;
        line-height: 17px;

        color: #FFFFFF;

        @media screen and (max-width: 500px){
            font-size: 4rem;
        }

      }
      p {
        width: 50%;

        font-weight: 400;
        font-size: 1.7rem;
        letter-spacing: 0.045em;

        color: #D5D4E6;

        text-align: center;

        @media screen and (max-width: 500px){
          width: 95%;

          font-size: 2rem;
        }
      }
    }
    .team-page_team {
      padding-top: 60px;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      @media screen and (max-width: 500px){
        padding-top: 25px;
      }
    }
  }
}