.dev-block {
  margin-top: 80px;

  .dev-block_title {
    @media screen and (max-width: 500px){
      padding: 0 15px;
    }
  }

  .dev-block_dev-projects {
    margin-top: 20px;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    &:nth-child(n) {
      margin-left: 10px;
    }
  }
}