.team-member-page {
  position: relative;

  width: 100vw;
  min-height: 100vh;

  overflow: hidden;

  .team-member-page__back {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 80vh;

    @media screen and (max-width: 500px){
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .team-member-page__gradient-gray {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 80vh;

    background: linear-gradient(360deg, #191E23 5.8%, rgba(26, 31, 36, 0) 49.94%);

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .team-member-page__back-gradient-blue_Safari {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 20px;
    height: 20px;

    will-change: transform;
    transform: scale(50,100) translate(50%, -50%);

    background: linear-gradient(23.98deg, #33317D -0.19%, rgba(71, 0, 54, 0) 80.65%);
    mix-blend-mode: normal;
    filter: blur(3px);

    z-index: -5;

    @media screen and (max-width: 500px){
      display: none;
    }

  }
  .team-member-page__back-gradient-blue_Default {
    position: absolute;
    bottom: 0;
    left: 0;

    transform: translateX(-20%);

    width: 100%;
    height: 90%;

    background: linear-gradient(23.98deg, #33317D -0.19%, rgba(71, 0, 54, 0) 80.65%);
    mix-blend-mode: normal;
    filter: blur(100px);

    z-index: -5;

    @media screen and (max-width: 500px){
      display: none;
    }

  }

  .team-member-page__back-gradient-purple_Safari {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 20px;
    height: 20px;

    will-change: transform;
    transform: scale(50, 100) translate(-30%, -50%);

    background: rgba(113, 25, 42, 0.51);
    filter: blur(1px);

    z-index: -5;

    @media screen and (max-width: 500px){
      display: none;
    }
  }
  .team-member-page__back-gradient-purple_Default {
    position: absolute;
    bottom: 0;
    right: 0;

    transform: translateX(20%);

    width: 100%;
    height: 60%;

    background: rgba(113, 25, 42, 0.3);
    filter: blur(300px);

    z-index: -5;

    @media screen and (max-width: 500px){
      display: none;
    }
  }

  .team-member-page_portfolio {
    position: relative;

    width: 100%;

    z-index: 0;

    @media screen and (max-width: 500px){
      display: none;
    }

    .team-member-page_inner-container {
      width: 1615px;

      margin: 0 auto;

      z-index: 10;

      @media screen and (max-width: 1250px){
        width: 100%;

        padding: 0 40px;
      }
    }
  }
}