.projects-page-container {
  position: relative;

  width: 100vw;
  padding-bottom: 80px;

  .projects-page-container_inner {
    max-width: 1615px;

    margin: 0 auto;

    @media screen and (max-width: 1250px){
      max-width: 100%;

      padding: 0 40px;
    }
    @media screen and (max-width: 500px) {
      padding: 0;
    }
  }
}